.box {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 300px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
}

.square1 {
  background-color: red;
}

.square2 {
  background-color: green;
}

.square3 {
  background-color: blue;
}

.square4 {
  background-color: yellow;
}

.square5 {
  background-color: magenta;
}

.square6 {
  background-color: skyblue;
}