* {
  position: absolute;
}

#head-line1 {
  top: 448px;
  left: 970px;
  height: 40px;
  border-right: 1px solid #000;
  transform: skewX(-15deg);
}

#head-line2 {
  top: 488.2px;
  left: 959.5px;
  height: 30px;
  border-right: 1px solid #000;
  transform: skewX(-20deg);
}

#head-line3 {
  top: 517.5px;
  left: 944.8px;
  height: 30px;
  border-right: 1px solid #000;
  transform: skewX(-31.5deg);
}

#head-line4 {
  top: 547.8px;
  left: 922.5px;
  height: 36px;
  border-right: 1px solid #000;
  transform: skewX(-35.5deg);
}

#head-line5 {
  top: 584px;
  left: 894px;
  height: 30px;
  border-right: 1px solid #000;
  transform: skewX(-45deg);
}

#head-line6 {
  top: 614px;
  left: 851.5px;
  height: 40px;
  border-right: 1px solid #000;
  transform: skewX(-54.5deg);
}

#head-line7 {
  top: 654px;
  left: 807px;
  height: 17px;
  border-right: 1px solid #000;
  transform: skewX(-62deg);
}

#head-line8 {
  top: 671px;
  left: 783px;
  height: 5px;
  border-right: 1.2px solid #000;
  transform: skewX(-72deg);
}

#head-line9 {
  top: 675px;
  left: 757px;
  width: 20px;
  border-top: 1px solid #000;
}

#head-line10 {
  top: 661px;
  left: 733px;
  height:14px;
  border-left: 1.5px solid #000;
  transform: skewX(72deg);
}

#head-line11 {
  top: 612px;
  left: 646px;
  height:25px;
  border-left: 1px solid #000;
  transform: skewX(56deg);
}

#mouth1 {
  top: 480px;
  left:690px;
  height: 140px;
  width: 140px;
  border: 1px solid #000;
  border-radius: 45% 45% 40% 40%;
}

#mouth2 {
  top: 490px;
  left:720px;
  width: 83px;
  border-top: 1px solid #000;
}
#mouth1 {
  top: 480px;
  left:690px;
  height: 140px;
  width: 140px;
  border: 1px solid #000;
  border-radius: 45% 45% 40% 40%;
}

#mouth2 {
  top: 490px;
  left:720px;
  width: 83px;
  border-top: 1px solid #000;
}

#hair1 {
  top: 160px;
  left: 645px;
  height:25px;
  border-left: 1px solid #000;
  transform: skewX(5deg);
}

#hair2 {
  top: 185px;
  left: 646.7px;
  height:10px;
  border-left: 1px solid #000;
  transform: skewX(8deg);
}

#hair3 {
  top: 193px;
  left: 648px;
  height:15px;
  border-left: 1px solid #000;
  transform: skewX(10deg);
}

#hair3 {
  top: 195px;
  left: 649px;
  height:20px;
  border-left: 1px solid #000;
  transform: skewX(11deg);
}

#hair4 {
  top: 214px;
  left: 653.5px;
  height:20px;
  border-left: 1px solid #000;
  transform: skewX(15deg);
}
#hair5 {
  top: 234px;
  left: 660px;
  height:20px;
  border-left: 1px solid #000;
  transform: skewX(19deg);
}

#hair6 {
  top: 254px;
  left: 666px;
  height:15px;
  border-left: 1px solid #000;
  transform: skewX(23deg);
}

#hair7 {
  top: 268px;
  left: 673px;
  height:15px;
  border-left: 1px solid #000;
  transform: skewX(27deg);
}

#hair8 {
  top: 283px;
  left: 682px;
  height:15px;
  border-left: 1px solid #000;
  transform: skewX(35deg);
}

#hair9 {
  top: 250px;
  left: 673px;
  height:18px;
  border-left: 1px solid #000;
  transform: skewX(20deg);
}

#hair10 {
  top: 268px;
  left: 680px;
  height:15px;
  border-left: 1px solid #000;
  transform: skewX(27deg);
}

#hair11 {
  top: 282px;
  left: 688px;
  height:15px;
  border-left: 1px solid #000;
  transform: skewX(29deg);
}

#hair12 {
  top: 298px;
  left: 688px;
  width:24px;
  border-bottom: 1px solid #000;
}

#hair13 {
  top: 288px;
  left: 707px;
  height:10px;
  border-right: 1px solid #000;
  transform: skewX(30deg);
}

#hair14 {
  top: 273px;
  left: 701px;
  height:15px;
  border-right: 1px solid #000;
  transform: skewX(25deg);
}

#hair15 {
  top: 259px;
  left: 695px;
  height:15px;
  border-right: 1px solid #000;
  transform: skewX(18deg);
}

#hair16 {
  top: 238px;
  left: 690px;
  height:23px;
  border-right: 1px solid #000;
  transform: skewX(13deg);
}

#hair17 {
  top: 233px;
  left: 690px;
  height:23px;
  border-left: 1px solid #000;
  transform: skewX(20deg);
}

#hair18 {
  top: 254px;
  left: 698px;
  height:23px;
  border-left: 1px solid #000;
  transform: skewX(20deg);
}

#hair19 {
  top: 277px;
  left: 706.5px;
  height:15px;
  border-left: 1px solid #000;
  transform: skewX(30deg);
}
