.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 200px;
}

.box{
  width: 100px;
  height: 100px;
  font-size: 30px;
  color: #fff;
}

.one{
  background-color: red;
}

.two{
  background-color: blue;
}

.three{
  background-color: greenyellow;
}

.four{
  background-color: yellow;
}

.five{
  background-color: purple;
}

.six{
  background-color: black;
}
