/* パターンその1 */

#container {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
}

#container div {
  background-size: cover;
  text-align: center;
  font-size: 120px;
  border: 1px solid black;
}

#ssss {
  grid-row: 1/2;
  grid-column: 2/7;
  letter-spacing: 30px;
}

#g {
  grid-row: 2/3;
  grid-column: 1/2;
}

#r {
  grid-row: 2/3;
  grid-column: 3/4;
}

#i {
  grid-row: 2/3;
  grid-column: 5/6;
}

#d {
  grid-row: 2/3;
  grid-column: 7/8;
}

#man {
  grid-row: 3/4;
  grid-column: 3/6;
  letter-spacing: 15px;
}

#rikka {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url(img/rikka.jpg);
}

#akane {
  grid-row: 1/2;
  grid-column: 7/8;
  background-image: url(img/akane.jpg);
}

#yuta {
  grid-row: 3/4;
  grid-column: 1/2;
  background-image: url(img/yuta.jpg);
}

#utsumi {
  grid-row: 3/4;
  grid-column: 7/8;
  background-image: url(img/utsumi.jpg);
}

#jc {
  grid-row: 2/3;
  grid-column: 4/5;
  background-image: url(img/jc.jpg);
}

#set {
  grid-row: 2/4;
  grid-column: 6/7;
  background-image: url(img/set.PNG);
}

#mainimg {
  grid-row: 2/4;
  grid-column: 2/3;
  background-image: url(img/mainimg.jpg);
}

/* パターンその2 */

/* #container{
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    grid-template-areas:
    "rikka ssss    ssss ssss ssss ssss akane"
    "g     mainimg r    jc   i    set  d"
    "yuta  mainimg man  man  man  set utsumi";
}

#container div{
    background-size: cover;
    text-align: center;
    font-size: 120px;
    border : 1px solid black;
}

#ssss{
    grid-area: ssss;
    letter-spacing: 30px;
}

#g{
    grid-area: g;
}

#r{
    grid-area: r;
}

#i{
    grid-area: i;
}

#d{
    grid-area: d;
}

#man{
    grid-area: man;
    letter-spacing: 15px;
}

#rikka{
    grid-area: rikka;
    background-image: url(img/rikka.jpg);
}

#akane{
    grid-area: akane;
    background-image: url(img/akane.jpg);
}

#yuta{
    grid-area: yuta;
    background-image: url(img/yuta.jpg);
}

#utsumi{
    grid-area: utsumi;
    background-image: url(img/utsumi.jpg);
}

#jc{
    grid-area:jc;
    background-image: url(img/jc.jpg);
}

#set{
    grid-area: set;
    background-image: url(img/set.PNG);
}

#mainimg{
    grid-area: mainimg;
    background-image: url(img/mainimg.jpg);
} */
