.box1 {
  background-color: red;
  height: 100px;
  width: 100px;
  float: left;
  font-size: 75px;
  text-align: center;
}

.box2 {
  background-color: lightgreen;
  height: 100px;
  width: 100px;
  float: left;
  font-size: 75px;
  text-align: center;
}

.box3 {
  background-color: blue;
  height: 100px;
  width: 100px;
  clear: left;
  float: left;
  font-size: 75px;
  text-align: center;
}

.box4 {
  background-color: yellow;
  height: 100px;
  width: 100px;
  float: left;
  font-size: 75px;
  text-align: center;
}

.box5 {
  background-color: magenta;
  height: 100px;
  width: 100px;
  clear: left;
  float: left;
  font-size: 75px;
  text-align: center;
}

.box6 {
  background-color: skyblue;
  height: 100px;
  width: 100px;
  float: left;
  font-size: 75px;
  text-align: center;
}
