#nav{
    list-style: none;
}

#nav li{
    width: 140px;
    text-align: center;
    background-color: gray;
    float: left;
}

#nav li a{
    display: block;
    text-decoration: none;
    color: white;
}

#nav li:hover{
    background-color: pink;
}