@charset "utf-8";

#box1 {
  width: 100px;
  height:100px;
  background-color: #f00;
  text-align: center;
  float: left;
  font-size: 300%;
}

#box2 {
  width: 100px;
  height:100px;
  background-color: #0f0;
  text-align: center;
  float: left;
  font-size: 300%;
}

#box3 {
  width: 100px;
  height:100px;
  background-color: #00f;
  text-align: center;
  clear: left;
  float: left;
  font-size: 300%;
}

#box4 {
  width: 100px;
  height:100px;
  background-color: #ff0;
  text-align: center;
  float: left;
  font-size: 300%;
}

#box5 {
  width: 100px;
  height:100px;
  background-color: #f0f;
  text-align: center;
  clear: left;
  float: left;
  font-size: 300%;
}

#box6 {
  width: 100px;
  height:100px;
  background-color: #0ff;
  text-align: center;
  float: left;
  font-size: 300%;
}