#grid {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 200px 150px 150px 150px;
}

#grid div {
    background-size: cover;
    text-align: center;
    font-size: 60px;
    border: 1px solid black;
}

#fe {
    grid-row: 1/2;
    grid-column: 2/7;
    letter-spacing: 30px;
}

#sou {
    grid-row: 2/3;
    grid-column: 1/2;
}

#en {
    grid-row: 2/3;
    grid-column: 3/4;
}

#ki {
    grid-row: 2/3;
    grid-column: 5/6;
}

#seki {
    grid-row: 2/3;
    grid-column: 7/8;
}

#FE {
    grid-row: 3/4;
    grid-column: 3/6;
    letter-spacing: 15px;
}

#senerio {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url(img/senerio.png);
}

#aiku {
    grid-row: 2/4;
    grid-column: 2/3;
    background-image: url(img/aiku.png);
}

#thiba-n {
    grid-row: 3/4;
    grid-column: 1/2;
    background-image: url(img/thiba-n.png);
}

#misuto {
    grid-row: 3/4;
    grid-column: 7/8;
    background-image: url(img/misuto.png);
}

#souen {
    grid-row: 2/3;
    grid-column: 4/5;
    background-image: url(img/souen_a_1024-768-1024x768.jpg);
}

#sikkokunokishi {
    grid-row: 2/4;
    grid-column: 6/7;
    background-image: url(img/sikkokunokishi.png);
}

#rete {
    grid-row: 1/2;
    grid-column: 7/8;
    background-image: url(img/rete.png);
}
