@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}

#rinkaku {
  width: 384px;
  height: 256px;
  background-color: #0f0;
  border: 16px #000 solid;
  border-radius: 200px 200px 156px 156px / 200px 200px 156px 156px;
  position: relative;
  transform: translate(100%,100%);
}

#eye {
  display: flex;
  transform: translateY(-50%);
}

.weye {
  width: 164px;
  height: 164px;
  border: 16px #000 solid ;
  background-color: #fff;
  border-radius: 94px;
}

.beye1 {
  width: 32px;
  height: 32px;
  background-color: #000;
  margin: 64px 96px;
  border-radius: 16px;
}

.beye2 {
  width: 32px;
  height: 32px;
  background-color: #000;
  margin: 64px 32px;
  border-radius: 16px;
}


#kuti {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}

#kuchi1 {
  font-size: 8px;
  width: 100px;
  height: 8px;
  background-color: #000;
  transform: rotate(30deg) translateX(10%);
}

#kuchi2 {
  font-size: 8px;
  width: 100px;
  height: 8px;
  background-color: #000;
  transform: rotate(-30deg) translateX(-10%);
}

.hou {
  width: 64px;
  height:64px;
  background-color: pink;
  border-radius: 32px;
  transform: translateY(-50%);
}