
.relative{
  position: relative;
}

.absolute{
  position: absolute;
  top: 200px;
  left: 300px;
}

.memo{
  position: absolute;
  top: 500px;
  left: 500px;
  font-size: 40px;
  color: white;
}

.title{
  font-size: 60px;
  font-family: 'Caveat', cursive;
  margin-left: 500px;
  font-weight: 900;
}
