#nav {
  list-style: none;
  font-weight: bold;
}

#nav li {
  text-align: center;
  padding: 20px;
  background-color: grey;
  float: left;
  box-shadow: 0 0;
}

#nav li:hover {
  background-color: orange;
}

#nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
