.box{
  width: 100px;
  height: 100px;
  font-size: 20px;
}

li{
  float: left;
  list-style: none;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.purple{
  background-color: purple;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.skyblue{
  background-color: skyblue;
}
