.box {
  width: 100px;
  height: 100px;
  font-size: 20px;
  float: left;
  list-style: none;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
  clear: left;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
  clear: left;
}

.skyblue {
  background-color: skyblue;
}
