#aka {
    width:100px;
    height:100px;
    background:rgba(230, 8, 8, 0.952);
  }
#midori {
    width:100px;
    height:100px;
    background:#27C42A;
  }
#ao {
      width:100px;
      height:100px;
      background:rgb(16, 29, 207);
    }
#kiiro {
  width:100px;
  height:100px;
  background:rgb(240, 236, 16);
}
#murasaki {
  width:100px;
  height:100px;
  background:rgb(232, 11, 240);
}
#mizuiro{
  width:100px;
  height:100px;
  background:rgb(4, 248, 207);
}
#box{  display: flex;
  flex-wrap: wrap;
  height : 300px;
  width : 200px;}
