#aka {
    width:100px;
    height:100px;
    background:rgba(253, 0, 0, 0.952);
  }
#midori {
    width:100px;
    height:100px;
    background:rgb(0, 255, 4);
  }
#ao {
      width:100px;
      height:100px;
      background:rgb(0, 17, 255);
    }
#kiiro {
  width:100px;
  height:100px;
  background:rgb(255, 251, 0);
}
#murasaki {
  width:100px;
  height:100px;
  background:rgb(247, 1, 255);
}
#mizuiro{
  width:100px;
  height:100px;
  background:rgb(0, 255, 213);
}
#box{  display: flex;
  flex-wrap: wrap;
  height : 300px;
  width : 200px;}
