#aka {
    width:100px;
    height:100px;
    background:rgba(253, 0, 0, 0.952);
    text-align: center;
    font-size: 50px;   
}
#midori {
    width:100px;
    height:100px;
    background:rgb(0, 255, 4); 
    text-align: center;
    font-size: 50px;   
}
#ao {
      width:100px;
      height:100px;
      background:rgb(0, 17, 255);
      text-align: center;
      font-size: 50px;   
}
#kiiro {
  width:100px;
  height:100px;
  background:rgb(255, 251, 0);
  text-align: center;
  font-size: 50px;   
}
#murasaki {
  width:100px;
  height:100px;
  background:rgb(247, 1, 255);
  text-align: center;
  font-size: 50px;   
}
#mizuiro{
  width:100px;
  height:100px;
  background:rgb(0, 255, 213);
  text-align: center;
  font-size: 50px;   
}
#box{  display: flex;
  flex-wrap: wrap;
  height : 300px;
  width : 200px;
}
