.img1 {
  position: relative;
  text-align: center;
}

.img2 {
position: absolute;
top: 75px;
left: 200px;

}

.AAAA{
  position: absolute;
  top: 0px;
  left: 90px;
}
p{
  color: #f00;
  font-size: 50px

}
h1{
  font-family: 'Kumar One', cursive;
  color: yellow;
  font: size 30px;
  -webkit-text-stroke: 1px black;
}
