@charset "utf-8";

#box {
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  flex-wrap:wrap-reverse;
  width: 200px
}

#box1 {
  width: 100px;
  height:100px;
  background-color: #f00;
  text-align: center;
  font-size: 300%;
}

#box2 {
  width: 100px;
  height:100px;
  background-color: #0f0;
  text-align: center;
  font-size: 300%;
}

#box3 {
  width: 100px;
  height:100px;
  background-color: #00f;
  text-align: center;
  font-size: 300%;
}

#box4 {
  width: 100px;
  height:100px;
  background-color: #ff0;
  text-align: center;
  font-size: 300%;
}

#box5 {
  width: 100px;
  height:100px;
  background-color: #f0f;
  text-align: center;
  font-size: 300%;
}

#box6 {
  width: 100px;
  height:100px;
  background-color: #0ff;
  text-align: center;
  font-size: 300%;
}