@import url(https://fonts.googleapis.com/css?family=Kosugi|Kosugi+Maru|Oswald&display=swap);

.content{
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
}

#top-left-corner{
  grid-row: 1/2;
  grid-column: 1/2;
  border: 1px solid #000;
}

#top-right-corner{
  grid-row: 1/2;
  grid-column: 7/8;
  border: 1px solid #000;
}

#bottom-left-corner{
  grid-row: 3/4;
  grid-column:1/2;
  border: 1px solid #000;
}

#bottom-right-corner{
  grid-row: 3/4;
  grid-column: 7/8;
  border: 1px solid #000;
}

#right-curtain{
  grid-row: 2/4;
  grid-column: 2/3;
  border: 1px solid #000;
}

#left-curtain{
  grid-row: 2/4;
  grid-column: 6/7;
  border: 1px solid #000;
}

#day {
  writing-mode: vertical-lr;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-family: 'Kosugi', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 15px auto 0;
}

#detail {
  writing-mode: vertical-lr;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-family: 'Kosugi', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
  margin: 30px auto 0;
}

#center1 {
  grid-row: 2/3;
  grid-column: 1/2;
  border: 1px solid #000;
}

#center3 {
  grid-row: 2/3;
  grid-column:3/4;
  border: 1px solid #000;
}

#center4 {
  grid-row: 2/3;
  grid-column: 4/5;
  border: 1px solid #000;
}

#center5 {
  grid-row: 2/3;
  grid-column: 5/6;
  border: 1px solid #000;
}

#center7 {
  grid-row: 2/3;
  grid-column: 7/8;
  border: 1px solid #000;
}

#top-center {
  grid-row: 1/2;
  grid-column: 2/7;
  border: 1px solid #000;
}

#bottom-center {
  grid-row: 3/4;
  grid-column: 3/6;
  border: 1px solid #000;
}
