@charset "utf-8";

body{
  background-color: #000;
}

#red{
  height: 100px;
  width: 100px;
  background-color: #f00;
  float: left;
}

#red:hover{
  box-shadow: 0 0 5px 2px #fff;
}

#green{
  height: 100px;
  width: 100px;
  background-color: #0f0;
  float: left;
}

#green:hover{
  box-shadow: 0 0 5px 2px #fff;
}

#blue{
  height: 100px;
  width: 100px;
  background-color: #00f;
  float: left;
}

#blue:hover{
  box-shadow: 0 0 5px 2px #fff;
}