.all{
    background-color: rgb(187, 176, 176);
    padding: 20px;
}
.box{
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;

}

.green{
    background-color: green;
}

.box:hover{
    box-shadow:0 0 20px #fff;
}