.dot {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.dot::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: 4px 4px 0 transparent,
        8px 4px 0 transparent,
        12px 4px 0 transparent,
16px 4px 0 transparent,
20px 4px 0 transparent,
24px 4px 0 transparent,
28px 4px 0 transparent,
32px 4px 0 transparent,
36px 4px 0 transparent,
40px 4px 0 rgb(159, 0, 0),
44px 4px 0 rgb(255, 121, 121),
48px 4px 0 rgb(234, 0, 0),
52px 4px 0 transparent,
56px 4px 0 transparent,
60px 4px 0 transparent,
64px 4px 0 transparent,
68px 4px 0 transparent,
72px 4px 0 transparent,
76px 4px 0 transparent,
80px 4px 0 transparent,
84px 4px 0 transparent,
88px 4px 0 transparent,
92px 4px 0 transparent,
96px 4px 0 transparent,
4px 8px 0 transparent,
8px 8px 0 transparent,
12px 8px 0 transparent,
16px 8px 0 transparent,
20px 8px 0 transparent,
24px 8px 0 transparent,
28px 8px 0 rgb(221, 0, 0),
32px 8px 0 rgb(255, 83, 83),
36px 8px 0 rgb(255, 83, 83),
40px 8px 0 rgb(227, 0, 0),
44px 8px 0 rgb(255, 23, 23),
48px 8px 0 rgb(255, 64, 64),
52px 8px 0 rgb(227, 0, 0),
56px 8px 0 rgb(227, 0, 0),
60px 8px 0 transparent,
64px 8px 0 transparent,
68px 8px 0 transparent,
72px 8px 0 transparent,
76px 8px 0 transparent,
80px 8px 0 transparent,
84px 8px 0 transparent,
88px 8px 0 transparent,
92px 8px 0 transparent,
96px 8px 0 transparent,
4px 12px 0 transparent,
8px 12px 0 transparent,
12px 12px 0 transparent,
16px 12px 0 transparent,
20px 12px 0 transparent,
24px 12px 0 transparent,
28px 12px 0 transparent,
32px 12px 0 rgb(208, 0, 0),
36px 12px 0 rgb(242, 0, 0),
40px 12px 0 rgb(255, 98, 98),
44px 12px 0 rgb(255, 98, 98),
48px 12px 0 rgb(255, 51, 51),
52px 12px 0 rgb(255, 104, 104),
56px 12px 0 rgb(255, 62, 62),
60px 12px 0 rgb(219, 0, 0),
64px 12px 0 rgb(219, 0, 0),
68px 12px 0 transparent,
72px 12px 0 transparent,
76px 12px 0 transparent,
80px 12px 0 transparent,
84px 12px 0 transparent,
88px 12px 0 transparent,
92px 12px 0 transparent,
96px 12px 0 transparent,
4px 16px 0 transparent,
8px 16px 0 transparent,
12px 16px 0 transparent,
16px 16px 0 transparent,
20px 16px 0 transparent,
24px 16px 0 transparent,
28px 16px 0 rgb(208, 0, 0),
32px 16px 0 rgb(208, 0, 0),
36px 16px 0 rgb(255, 104, 104),
40px 16px 0 rgb(255, 104, 104),
44px 16px 0 rgb(255, 198, 198),
48px 16px 0 rgb(238, 0, 0),
52px 16px 0 rgb(255, 11, 11),
56px 16px 0 rgb(255, 11, 11),
60px 16px 0 rgb(230, 0, 0),
64px 16px 0 rgb(155, 0, 0),
68px 16px 0 transparent,
72px 16px 0 transparent,
76px 16px 0 transparent,
80px 16px 0 transparent,
84px 16px 0 transparent,
88px 16px 0 transparent,
92px 16px 0 transparent,
96px 16px 0 transparent,
4px 20px 0 transparent,
8px 20px 0 transparent,
12px 20px 0 transparent,
16px 20px 0 transparent,
20px 20px 0 transparent,
24px 20px 0 rgb(196, 0, 0),
28px 20px 0 rgb(196, 0, 0),
32px 20px 0 rgb(227, 0, 0),
36px 20px 0 rgb(255, 96, 96),
40px 20px 0 rgb(255, 164, 164),
44px 20px 0 rgb(244, 0, 0),
48px 20px 0 rgb(0, 128, 255),
52px 20px 0 rgb(255, 115, 115),
56px 20px 0 rgb(255, 43, 43),
60px 20px 0 rgb(255, 43, 43),
64px 20px 0 rgb(230, 0, 0),
68px 20px 0 rgb(230, 0, 0),
72px 20px 0 transparent,
76px 20px 0 transparent,
80px 20px 0 transparent,
84px 20px 0 transparent,
88px 20px 0 transparent,
92px 20px 0 transparent,
96px 20px 0 transparent,
4px 24px 0 transparent,
8px 24px 0 transparent,
12px 24px 0 transparent,
16px 24px 0 transparent,
20px 24px 0 transparent,
24px 24px 0 rgb(185, 0, 0),
28px 24px 0 rgb(219, 0, 0),
32px 24px 0 rgb(255, 115, 115),
36px 24px 0 rgb(255, 79, 79),
40px 24px 0 rgb(255, 45, 45),
44px 24px 0 rgb(0, 128, 255),
48px 24px 0 rgb(0, 128, 255),
52px 24px 0 rgb(255, 45, 45),
56px 24px 0 rgb(255, 83, 83),
60px 24px 0 rgb(255, 4, 4),
64px 24px 0 rgb(185, 0, 0),
68px 24px 0 rgb(185, 0, 0),
72px 24px 0 transparent,
76px 24px 0 transparent,
80px 24px 0 transparent,
84px 24px 0 transparent,
88px 24px 0 transparent,
92px 24px 0 transparent,
96px 24px 0 transparent,
4px 28px 0 transparent,
8px 28px 0 transparent,
12px 28px 0 transparent,
16px 28px 0 transparent,
20px 28px 0 transparent,
24px 28px 0 rgb(170, 0, 0),
28px 28px 0 rgb(170, 0, 0),
32px 28px 0 rgb(219, 0, 0),
36px 28px 0 rgb(0, 0, 0),
40px 28px 0 rgb(255, 217, 198),
44px 28px 0 rgb(255, 217, 198),
48px 28px 0 rgb(0, 0, 0),
52px 28px 0 rgb(204, 102, 0),
56px 28px 0 rgb(255, 55, 55),
60px 28px 0 rgb(255, 55, 55),
64px 28px 0 rgb(185, 0, 0),
68px 28px 0 transparent,
72px 28px 0 transparent,
76px 28px 0 transparent,
80px 28px 0 transparent,
84px 28px 0 transparent,
88px 28px 0 transparent,
92px 28px 0 transparent,
96px 28px 0 transparent,
4px 32px 0 transparent,
8px 32px 0 transparent,
12px 32px 0 transparent,
16px 32px 0 transparent,
20px 32px 0 transparent,
24px 32px 0 transparent,
28px 32px 0 rgb(215, 0, 0),
32px 32px 0 rgb(240, 0, 0),
36px 32px 0 rgb(0, 0, 0),
40px 32px 0 rgb(255, 217, 198),
44px 32px 0 rgb(255, 217, 198),
48px 32px 0 rgb(0, 0, 0),
52px 32px 0 rgb(255, 198, 170),
56px 32px 0 rgb(255, 198, 170),
60px 32px 0 rgb(181, 0, 0),
64px 32px 0 transparent,
68px 32px 0 transparent,
72px 32px 0 transparent,
76px 32px 0 transparent,
80px 32px 0 transparent,
84px 32px 0 transparent,
88px 32px 0 transparent,
92px 32px 0 transparent,
96px 32px 0 transparent,
4px 36px 0 transparent,
8px 36px 0 transparent,
12px 36px 0 transparent,
16px 36px 0 transparent,
20px 36px 0 transparent,
24px 36px 0 transparent,
28px 36px 0 transparent,
32px 36px 0 rgb(255, 0, 0),
36px 36px 0 rgb(255, 217, 198),
40px 36px 0 rgb(255, 217, 198),
44px 36px 0 rgb(255, 217, 198),
48px 36px 0 rgb(255, 217, 198),
52px 36px 0 rgb(204, 102, 0),
56px 36px 0 rgb(164, 82, 0),
60px 36px 0 rgb(6, 131, 255),
64px 36px 0 rgb(6, 131, 255),
68px 36px 0 transparent,
72px 36px 0 transparent,
76px 36px 0 transparent,
80px 36px 0 transparent,
84px 36px 0 transparent,
88px 36px 0 transparent,
92px 36px 0 transparent,
96px 36px 0 transparent,
4px 40px 0 transparent,
8px 40px 0 transparent,
12px 40px 0 transparent,
16px 40px 0 transparent,
20px 40px 0 transparent,
24px 40px 0 transparent,
28px 40px 0 rgb(1, 20, 254),
32px 40px 0 rgb(23, 139, 255),
36px 40px 0 rgb(255, 182, 108),
40px 40px 0 rgb(255, 182, 108),
44px 40px 0 rgb(255, 182, 108),
48px 40px 0 rgb(204, 102, 0),
52px 40px 0 rgb(164, 82, 0),
56px 40px 0 rgb(0, 106, 213),
60px 40px 0 rgb(6, 131, 255),
64px 40px 0 rgb(255, 255, 0),
68px 40px 0 rgb(255, 255, 0),
72px 40px 0 rgb(210, 68, 0),
76px 40px 0 transparent,
80px 40px 0 transparent,
84px 40px 0 transparent,
88px 40px 0 transparent,
92px 40px 0 transparent,
96px 40px 0 transparent,
4px 44px 0 transparent,
8px 44px 0 transparent,
12px 44px 0 transparent,
16px 44px 0 transparent,
20px 44px 0 transparent,
24px 44px 0 rgb(72, 164, 255),
28px 44px 0 rgb(72, 164, 255),
32px 44px 0 rgb(72, 164, 255),
36px 44px 0 rgb(255, 255, 0),
40px 44px 0 rgb(0, 128, 255),
44px 44px 0 rgb(0, 128, 255),
48px 44px 0 rgb(0, 114, 227),
52px 44px 0 rgb(0, 114, 227),
56px 44px 0 rgb(0, 114, 227),
60px 44px 0 rgb(255, 255, 0),
64px 44px 0 rgb(255, 181, 145),
68px 44px 0 rgb(255, 192, 162),
72px 44px 0 rgb(255, 181, 145),
76px 44px 0 rgb(155, 78, 0),
80px 44px 0 rgb(0, 0, 208),
84px 44px 0 transparent,
88px 44px 0 transparent,
92px 44px 0 transparent,
96px 44px 0 transparent,
4px 48px 0 transparent,
8px 48px 0 transparent,
12px 48px 0 transparent,
16px 48px 0 transparent,
20px 48px 0 rgb(255, 255, 0),
24px 48px 0 rgb(255, 255, 0),
28px 48px 0 rgb(255, 255, 0),
32px 48px 0 rgb(255, 255, 0),
36px 48px 0 rgb(0, 0, 255),
40px 48px 0 rgb(0, 0, 255),
44px 48px 0 rgb(0, 128, 255),
48px 48px 0 rgb(85, 170, 255),
52px 48px 0 rgb(85, 170, 255),
56px 48px 0 rgb(28, 141, 255),
60px 48px 0 rgb(70, 35, 0),
64px 48px 0 rgb(147, 73, 0),
68px 48px 0 rgb(128, 191, 255),
72px 48px 0 rgb(128, 191, 255),
76px 48px 0 rgb(132, 66, 0),
80px 48px 0 rgb(96, 175, 255),
84px 48px 0 rgb(0, 0, 208),
88px 48px 0 rgb(0, 0, 208),
92px 48px 0 rgb(0, 0, 208),
96px 48px 0 rgb(0, 0, 208),
4px 52px 0 transparent,
8px 52px 0 transparent,
12px 52px 0 transparent,
16px 52px 0 transparent,
20px 52px 0 rgb(128, 64, 0),
24px 52px 0 rgb(255, 198, 170),
28px 52px 0 rgb(255, 198, 170),
32px 52px 0 rgb(0, 0, 160),
36px 52px 0 rgb(0, 0, 255),
40px 52px 0 rgb(255, 255, 0),
44px 52px 0 rgb(0, 0, 160),
48px 52px 0 rgb(0, 0, 160),
52px 52px 0 rgb(0, 0, 160),
56px 52px 0 rgb(0, 0, 160),
60px 52px 0 rgb(0, 0, 219),
64px 52px 0 rgb(70, 35, 0),
68px 52px 0 rgb(255, 202, 176),
72px 52px 0 rgb(255, 202, 176),
76px 52px 0 rgb(102, 51, 0),
80px 52px 0 rgb(55, 55, 255),
84px 52px 0 rgb(96, 175, 255),
88px 52px 0 rgb(96, 175, 255),
92px 52px 0 rgb(96, 175, 255),
96px 52px 0 rgb(0, 0, 208),
4px 56px 0 rgb(255, 255, 0),
8px 56px 0 rgb(255, 255, 0),
12px 56px 0 rgb(255, 255, 0),
16px 56px 0 rgb(102, 0, 0),
20px 56px 0 rgb(255, 255, 128),
24px 56px 0 rgb(255, 213, 191),
28px 56px 0 rgb(0, 64, 64),
32px 56px 0 rgb(255, 255, 0),
36px 56px 0 rgb(255, 255, 0),
40px 56px 0 rgb(255, 255, 0),
44px 56px 0 rgb(255, 255, 85),
48px 56px 0 rgb(0, 128, 255),
52px 56px 0 rgb(0, 128, 255),
56px 56px 0 rgb(96, 175, 255),
60px 56px 0 rgb(240, 240, 0),
64px 56px 0 rgb(0, 0, 160),
68px 56px 0 rgb(70, 35, 0),
72px 56px 0 rgb(70, 35, 0),
76px 56px 0 rgb(255, 0, 0),
80px 56px 0 rgb(255, 0, 0),
84px 56px 0 rgb(55, 55, 255),
88px 56px 0 rgb(55, 55, 255),
92px 56px 0 rgb(55, 55, 255),
96px 56px 0 transparent,
4px 60px 0 rgb(255, 255, 0),
8px 60px 0 rgb(255, 255, 0),
12px 60px 0 rgb(98, 49, 0),
16px 60px 0 rgb(192, 192, 192),
20px 60px 0 rgb(192, 192, 192),
24px 60px 0 rgb(128, 128, 128),
28px 60px 0 rgb(255, 255, 85),
32px 60px 0 rgb(255, 255, 85),
36px 60px 0 rgb(255, 255, 85),
40px 60px 0 rgb(0, 0, 219),
44px 60px 0 rgb(0, 0, 219),
48px 60px 0 rgb(255, 255, 85),
52px 60px 0 rgb(255, 255, 85),
56px 60px 0 rgb(255, 255, 85),
60px 60px 0 rgb(0, 0, 160),
64px 60px 0 rgb(255, 0, 0),
68px 60px 0 rgb(255, 0, 0),
72px 60px 0 rgb(255, 0, 0),
76px 60px 0 rgb(255, 0, 0),
80px 60px 0 rgb(255, 0, 0),
84px 60px 0 rgb(255, 0, 0),
88px 60px 0 rgb(255, 0, 0),
92px 60px 0 transparent,
96px 60px 0 transparent,
4px 64px 0 transparent,
8px 64px 0 rgb(255, 255, 0),
12px 64px 0 rgb(0, 0, 255),
16px 64px 0 rgb(0, 0, 255),
20px 64px 0 rgb(0, 227, 227),
24px 64px 0 rgb(255, 0, 0),
28px 64px 0 rgb(255, 255, 85),
32px 64px 0 rgb(182, 220, 220),
36px 64px 0 rgb(182, 220, 220),
40px 64px 0 rgb(98, 49, 0),
44px 64px 0 rgb(98, 49, 0),
48px 64px 0 rgb(128, 64, 0),
52px 64px 0 rgb(128, 64, 0),
56px 64px 0 rgb(128, 64, 64),
60px 64px 0 rgb(0, 0, 160),
64px 64px 0 rgb(255, 0, 0),
68px 64px 0 rgb(255, 0, 0),
72px 64px 0 rgb(255, 0, 0),
76px 64px 0 rgb(255, 0, 0),
80px 64px 0 rgb(255, 0, 0),
84px 64px 0 rgb(255, 0, 0),
88px 64px 0 transparent,
92px 64px 0 transparent,
96px 64px 0 transparent,
4px 68px 0 transparent,
8px 68px 0 transparent,
12px 68px 0 transparent,
16px 68px 0 rgb(0, 0, 255),
20px 68px 0 rgb(0, 0, 255),
24px 68px 0 rgb(255, 255, 85),
28px 68px 0 rgb(156, 156, 156),
32px 68px 0 rgb(255, 255, 255),
36px 68px 0 rgb(156, 156, 156),
40px 68px 0 rgb(182, 220, 220),
44px 68px 0 rgb(182, 220, 220),
48px 68px 0 rgb(0, 128, 255),
52px 68px 0 rgb(255, 255, 85),
56px 68px 0 rgb(0, 0, 230),
60px 68px 0 rgb(0, 0, 230),
64px 68px 0 rgb(0, 0, 160),
68px 68px 0 rgb(255, 0, 0),
72px 68px 0 rgb(255, 0, 0),
76px 68px 0 rgb(255, 0, 0),
80px 68px 0 rgb(255, 0, 0),
84px 68px 0 transparent,
88px 68px 0 transparent,
92px 68px 0 transparent,
96px 68px 0 transparent,
4px 72px 0 transparent,
8px 72px 0 transparent,
12px 72px 0 transparent,
16px 72px 0 transparent,
20px 72px 0 rgb(255, 255, 85),
24px 72px 0 rgb(255, 255, 85),
28px 72px 0 rgb(182, 220, 220),
32px 72px 0 rgb(156, 156, 156),
36px 72px 0 rgb(255, 255, 255),
40px 72px 0 rgb(255, 255, 255),
44px 72px 0 rgb(156, 156, 156),
48px 72px 0 rgb(182, 220, 220),
52px 72px 0 rgb(182, 220, 220),
56px 72px 0 rgb(255, 255, 85),
60px 72px 0 rgb(255, 255, 85),
64px 72px 0 rgb(255, 255, 85),
68px 72px 0 rgb(255, 0, 0),
72px 72px 0 rgb(255, 0, 0),
76px 72px 0 rgb(255, 0, 0),
80px 72px 0 rgb(255, 0, 0),
84px 72px 0 transparent,
88px 72px 0 transparent,
92px 72px 0 transparent,
96px 72px 0 transparent,
4px 76px 0 transparent,
8px 76px 0 transparent,
12px 76px 0 transparent,
16px 76px 0 transparent,
20px 76px 0 rgb(255, 255, 85),
24px 76px 0 rgb(255, 255, 85),
28px 76px 0 rgb(108, 108, 108),
32px 76px 0 rgb(182, 220, 220),
36px 76px 0 rgb(182, 220, 220),
40px 76px 0 rgb(156, 156, 156),
44px 76px 0 rgb(255, 255, 255),
48px 76px 0 rgb(255, 255, 255),
52px 76px 0 rgb(156, 156, 156),
56px 76px 0 rgb(182, 220, 220),
60px 76px 0 rgb(182, 220, 220),
64px 76px 0 rgb(255, 0, 0),
68px 76px 0 rgb(255, 0, 0),
72px 76px 0 rgb(255, 0, 0),
76px 76px 0 rgb(255, 0, 0),
80px 76px 0 transparent,
84px 76px 0 transparent,
88px 76px 0 transparent,
92px 76px 0 transparent,
96px 76px 0 transparent,
4px 80px 0 transparent,
8px 80px 0 transparent,
12px 80px 0 transparent,
16px 80px 0 transparent,
20px 80px 0 transparent,
24px 80px 0 transparent,
28px 80px 0 rgb(108, 108, 108),
32px 80px 0 rgb(108, 108, 108),
36px 80px 0 rgb(108, 108, 108),
40px 80px 0 rgb(182, 220, 220),
44px 80px 0 rgb(182, 220, 220),
48px 80px 0 rgb(156, 156, 156),
52px 80px 0 rgb(255, 255, 255),
56px 80px 0 rgb(255, 255, 255),
60px 80px 0 rgb(156, 156, 156),
64px 80px 0 rgb(182, 220, 220),
68px 80px 0 rgb(182, 220, 220),
72px 80px 0 rgb(255, 0, 0),
76px 80px 0 transparent,
80px 80px 0 transparent,
84px 80px 0 transparent,
88px 80px 0 transparent,
92px 80px 0 transparent,
96px 80px 0 transparent,
4px 84px 0 transparent,
8px 84px 0 transparent,
12px 84px 0 transparent,
16px 84px 0 transparent,
20px 84px 0 transparent,
24px 84px 0 rgb(108, 108, 108),
28px 84px 0 rgb(108, 108, 108),
32px 84px 0 rgb(108, 108, 108),
36px 84px 0 rgb(108, 108, 108),
40px 84px 0 rgb(108, 108, 108),
44px 84px 0 rgb(249, 0, 0),
48px 84px 0 rgb(182, 220, 220),
52px 84px 0 rgb(182, 220, 220),
56px 84px 0 rgb(156, 156, 156),
60px 84px 0 rgb(255, 255, 255),
64px 84px 0 rgb(255, 255, 255),
68px 84px 0 rgb(182, 220, 220),
72px 84px 0 transparent,
76px 84px 0 transparent,
80px 84px 0 transparent,
84px 84px 0 transparent,
88px 84px 0 transparent,
92px 84px 0 transparent,
96px 84px 0 transparent,
4px 88px 0 transparent,
8px 88px 0 transparent,
12px 88px 0 transparent,
16px 88px 0 transparent,
20px 88px 0 transparent,
24px 88px 0 rgb(81, 81, 81),
28px 88px 0 rgb(0, 0, 202),
32px 88px 0 rgb(0, 0, 202),
36px 88px 0 rgb(0, 0, 202),
40px 88px 0 transparent,
44px 88px 0 transparent,
48px 88px 0 transparent,
52px 88px 0 rgb(81, 81, 81),
56px 88px 0 rgb(182, 220, 220),
60px 88px 0 rgb(182, 220, 220),
64px 88px 0 rgb(182, 220, 220),
68px 88px 0 rgb(182, 220, 220),
72px 88px 0 transparent,
76px 88px 0 transparent,
80px 88px 0 transparent,
84px 88px 0 transparent,
88px 88px 0 transparent,
92px 88px 0 transparent,
96px 88px 0 transparent,
4px 92px 0 transparent,
8px 92px 0 transparent,
12px 92px 0 transparent,
16px 92px 0 transparent,
20px 92px 0 transparent,
24px 92px 0 rgb(81, 81, 81),
28px 92px 0 rgb(0, 0, 202),
32px 92px 0 rgb(0, 0, 202),
36px 92px 0 transparent,
40px 92px 0 transparent,
44px 92px 0 transparent,
48px 92px 0 transparent,
52px 92px 0 rgb(81, 81, 81),
56px 92px 0 rgb(81, 81, 81),
60px 92px 0 rgb(81, 81, 81),
64px 92px 0 rgb(81, 81, 81),
68px 92px 0 transparent,
72px 92px 0 transparent,
76px 92px 0 transparent,
80px 92px 0 transparent,
84px 92px 0 transparent,
88px 92px 0 transparent,
92px 92px 0 transparent,
96px 92px 0 transparent,
4px 96px 0 transparent,
8px 96px 0 transparent,
12px 96px 0 transparent,
16px 96px 0 transparent,
20px 96px 0 transparent,
24px 96px 0 rgb(81, 81, 81),
28px 96px 0 rgb(81, 81, 81),
32px 96px 0 rgb(81, 81, 81),
36px 96px 0 transparent,
40px 96px 0 transparent,
44px 96px 0 transparent,
48px 96px 0 transparent,
52px 96px 0 transparent,
56px 96px 0 transparent,
60px 96px 0 transparent,
64px 96px 0 transparent,
68px 96px 0 transparent,
72px 96px 0 transparent,
76px 96px 0 transparent,
80px 96px 0 transparent,
84px 96px 0 transparent,
88px 96px 0 transparent,
92px 96px 0 transparent,
96px 96px 0 transparent;
}