#chocobo {
    background: transparent;
    width: 10px;
    height: 10px;
    
    box-shadow:
      60px 0 #181010,
      70px 0 #181010,
      80px 0 #181010,
      
      40px 10px #181010,
      50px 10px #181010,
      60px 10px #c08800,
      70px 10px #f8f800,
      80px 10px #e3b600,
      90px 10px #181010,
      100px 10px #181010,
      
      30px 20px #181010,
      40px 20px #f8f800,
      50px 20px #f8f800,
      60px 20px #f8f800,
      70px 20px #f8f800,
      80px 20px #f8f800,
      90px 20px #f8f800,
      100px 20px #e3b600,
      110px 20px #181010,
      
      20px 30px #181010,
      30px 30px #e3b600,
      40px 30px #f8f8f8,
      50px 30px #c08800,
      60px 30px #e3b600,
      70px 30px #f8f800,
      80px 30px #f8f800,
      90px 30px #c08800,
      100px 30px #181010,
      
      10px 40px #181010,
      20px 40px #181010,
      30px 40px #f8f800,
      40px 40px #1838d8,
      50px 40px #f8f8f8,
      60px 40px #c08800,
      70px 40px #f8f800,
      80px 40px #c08800,
      90px 40px #181010,
      
      0 50px #181010,
      10px 50px #e88048,
      20px 50px #e88048,
      30px 50px #c08800,
      40px 50px #1838d8,
      50px 50px #f8f8f8,
      60px 50px #e3b600,
      70px 50px #f8f800,
      80px 50px #f8f800,
      90px 50px #e3b600,
      100px 50px #181010,
      
      0 60px #181010,
      10px 60px #f8d294,
      20px 60px #e88048,
      30px 60px #b95b29,
      40px 60px #e3b600,
      50px 60px #e3b600,
      60px 60px #f8f800,
      70px 60px #e3b600,
      80px 60px #c08800,
      90px 60px #181010,
      120px 60px #181010,
      130px 60px #181010,
      140px 60px #181010,
      
      0 70px #181010,
      10px 70px #e88048,
      20px 70px #181010,
      30px 70px #181010,
      40px 70px #181010,
      50px 70px #181010,
      60px 70px #c08800,
      70px 70px #c08800,
      80px 70px #181010,
      110px 70px #181010,
      120px 70px #f8f800,
      130px 70px #f8f800,
      140px 70px #f8f800,
      150px 70px #181010,
      
      10px 80px #181010,
      40px 80px #181010,
      50px 80px #f8f800,
      60px 80px #e3b600,
      70px 80px #c08800,
      80px 80px #181010,
      100px 80px #181010,
      110px 80px #f8f800,
      120px 80px #e3b600,
      130px 80px #181010,
      140px 80px #181010,
      
      30px 90px #181010,
      40px 90px #f8f800,
      50px 90px #f8f800,
      60px 90px #f8f800,
      70px 90px #f8f800,
      80px 90px #e3b600,
      90px 90px #181010,
      100px 90px #181010,
      110px 90px #f8f800,
      120px 90px #c08800,
      130px 90px #f8f800,
      140px 90px #e3b600,
      150px 90px #181010,
      
      20px 100px #181010,
      30px 100px #e3b600,
      40px 100px #f8f800,
      50px 100px #e3b600,
      60px 100px #f8f800,
      70px 100px #f8f800,
      80px 100px #f8f800,
      90px 100px #f8f800,
      100px 100px #c08800,
      110px 100px #c08800,
      120px 100px #e3b600,
      130px 100px #c08800,
      140px 100px #181010,
      
      20px 110px #181010,
      30px 110px #f8f800,
      40px 110px #f8f800,
      50px 110px #c08800,
      60px 110px #f8f800,
      70px 110px #e3b600,
      80px 110px #c08800,
      90px 110px #f8f800,
      100px 110px #f8f800,
      110px 110px #a05800,
      120px 110px #181010,
      130px 110px #181010,
      
      20px 120px #181010,
      30px 120px #c08800,
      40px 120px #f8f800,
      50px 120px #a05800,
      60px 120px #c08800,
      70px 120px #f8f800,
      80px 120px #e3b600,
      90px 120px #a05800,
      100px 120px #a05800,
      110px 120px #181010,
      
      30px 130px #181010,
      40px 130px #c08800,
      50px 130px #c08800,
      60px 130px #a05800,
      70px 130px #a05800,
      80px 130px #a05800,
      90px 130px #c08800,
      100px 130px #181010,
      
      40px 140px #181010,
      50px 140px #181010,
      60px 140px #181010,
      70px 140px #704020,
      80px 140px #181010,
      90px 140px #181010,
      
      70px 150px #181010,
      80px 150px #a05800,
      90px 150px #181010,
      
      60px 160px #181010,
      70px 160px #181010,
      80px 160px #a05800,
      90px 160px #a05800,
      100px 160px #181010,
      
      20px 170px #181010,
      30px 170px #181010,
      40px 170px #181010,
      50px 170px #181010,
      70px 170px #a05800,
      80px 170px #704020,
      90px 170px #181010,
      100px 170px #181010,
      110px 170px #181010,
      120px 170px #181010,
      130px 170px #181010;
  }