.penguin {
    position: relative;
    margin: 16px 0 0 50px;
}

.penguin .head {
    position: absolute;
    width: 85px;
    height: 40px;
    border-radius: 100%;
    background: rgb(36, 42, 28);
    box-shadow: 2px -2px 0 0 rgb(214, 161, 3) inset;
    z-index: 2;
}

.penguin .eyes {
    position: absolute;
    top: 10px;
    right: 13px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #000;
    box-shadow: 0 0 0 1px rgb(250, 247, 247) inset;
}

.penguin .beak {
    position: absolute;
    top: 15px;
    left: 58px;
}

.penguin .beak :before,
.penguin .beak :after {
    position: absolute;
    content: "";
    display: inline-block;
}

.penguin .beak :before {
    border: 3px solid transparent;
    border-right: 50px solid rgb(36, 42, 28);
    border-radius: 0 100% 0 0;
    transform: rotate(3deg);
}

.penguin .beak :after {
    top: 5px;
    left: 8px;
    border: 3px solid transparent;
    border-right: 35px solid rgb(194, 97, 52);
    border-radius: 0 0 100% 0;
    transform: rotate(1deg);
}

.penguin .body {
    position: absolute;
    top: 16px;
    left: -21px;
    width: 120px;
    height: 200px;
    border-radius: 50% 90% 90% 90% / 100%;
    background: rgb(57, 72, 90);
    box-shadow: -10px 16px 0 0 rgb(244, 243, 238) inset;
    overflow: hidden;
    z-index: 1;
}

.penguin .body :before {
    position: absolute;
    top: 10px;
    right: -12px;
    content: "";
    width: 95px;
    height: 200px;
    border-radius: 100%;
    background: rgb(240, 238, 232);
    box-shadow: -3px 10px 0 0 rgb(216, 163, 5) inset;
    transform: rotate(18deg);
}

.penguin .wing {
    position: absolute;
    top: 70px;
    left: -10px;
    width: 40px;
    height: 110px;
    border: 1px solid #000;
    border-top: 1px solid transparent;
    border-radius: 0 50% 10% 100%;
    background: rgb(50, 63, 78);
    transform: rotate(10deg);
    z-index: 2;
}

.penguin .tail {
    position: absolute;
    top: 130px;
    left: -40px;
    border: 40px solid transparent;
    border-bottom: 40px solid rgb(44, 56, 71);
    border-radius: 100%;
}

.penguin .foot1,.penguin .foot2 {
    position: absolute;
    width: 35px;
    height: 12px;
    border-radius: 0 100% 0 40%;
    background: rgb(28, 32, 21);
    box-shadow: 2px -3px 0 0 rgb(31, 36, 24);
}

.penguin .foot1 {
    top: 208px;
    left: 38px;
}

.penguin .foot2 {
    top: 205px;
    left: 40px;
}
