.pi .kao {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20px;
    border-radius: 100%;
    background: rgb(255, 251, 0);
}

.pi .hoppe1 {
    position: absolute;
    top: 120px;
    right: 1330px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgb(255, 1, 1);
    z-index: 2;
}

.pi .hoppe2 {
    position: absolute;
    top: 120px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgb(255, 1, 1);
    z-index: 2;
}

.pi .me1 {
    position: absolute;
    top: 60px;
    right: 1450px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(0, 0, 0);
    z-index: 2;
}

.pi .me2 {
    position: absolute;
    top: 60px;
    right: 1360px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgb(0, 0, 0);
    z-index: 2;
}

.pi .me1no2 {
    position: absolute;
    top: 70px;
    right: 1455px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgb(252, 252, 252);
    z-index: 2;
}

.pi .me2no2 {
    position: absolute;
    top: 70px;
    right: 1380px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgb(252, 252, 252);
    z-index: 2;
}

.pi .hana {
    width: 0;
    height: 0;
    border-bottom: solid 10px black;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    top: 140px;
    left: 100px;
}

.mouth {
    width: 15px;
    height: 15px;
    border-width: 5px;
    border-style: none solid solid none;
    border-color: rgb(0, 0, 0);
    border-radius: 0 0 100px 0;
    -moz-border-radius: 0 0 100px 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: absolute;
    top: 160px;
    left: 110px;
}

.mouth.left {
    position: absolute;
    top: 160px;
    left: 90px;
}
